body,
label,
input {
    font: normal 8pt verdana, helvetiva, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
    cursor: pointer;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}
